*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --yellow: #ffee00;
  --white: #fff;
  --black: #000;
}



body{
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: .5em;
  margin: 2em 5em;
}

section{
  background-color: var(--white);
  border: 5px solid var(--black);
  border-radius: 2%;
  width: 95%;
  height: 50em;
  margin: 8.5em auto;
  box-shadow: 0em 0em rgb(0 0 0 / 10%), 1em 1em 1em rgb(0 0 0 / 30%);
}

h1{
  color: #fff;
  background-color: var(--black);
  text-align: center;
  width: 25%;
  font-size: 4em;
  margin: 1.5em auto;
  font-family: Arial, Helvetica, sans-serif;
}

blockquote{
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  width: 70%;
  margin: auto;
  line-height: 1.5em;
}

figcaption{
  text-align: right;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2em 5em;
}

hr{
  width: 50%;
  margin-left: 6em;
  position: absolute;
  top: 43em;
}

button{
  font-size: 30px;
  padding: 10px 20px;
  background-color: var(--black);
  color: var(--white);
  margin-top: 2em;
}

button:hover{
  background-color: var(--yellow);
  color: var(--black);
}

ul{
  margin-top: 5.5em;
  display: flex;
  gap: 1em;
  flex-direction: row;
  justify-content: center;
}

li{
  list-style-type: none;
}

li:first-of-type{
  left: 37em;
}

li:nth-of-type(2){
  left: 54em;
}

li:nth-of-type(3){
  left: 71em;
}

/* For tablets: */
@media only screen and (max-width: 1500px) {
  h1{
    color: pink;
    font-size: 3em;
  }
  
  blockquote{
    color: aqua;
  }

  figcaption{
    color:red;
  }
}

/* @media only screen and (min-width: 1500px) {
  h1{
    color: red;
    font-size: 3em;
  }
} */